// General site config
html,
body,
.overflow-wrap {
  max-width: 100%;
  background: $white;
  // overflow-x: hidden;
  // position: absolute;
}

.main-site-container {
  max-width: 1400px;
  margin: 0 auto;
}

// Landing section

.packages-landing-wrap {
  margin-bottom: 100px;
}

.landing-section {
  padding-top: 165px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // height: calc(80vh - 85px)
}

.social-media-icons-landing {
  margin: auto 0;
}

.social-media-icons {
  padding: 0;
  display: grid;
  grid-template-rows: 70px 70px 70px;
}

.social-media-icon {
  border: none;
  background: none;
  display: block;
  text-align: left;
  fill: $primary-color;
  color: $primary-color;
  width: 30px;
}

.landing-primary-section {
  max-width: 500px;
  background-image: url("https://res.cloudinary.com/dfyhqslry/image/upload/v1673690983/code%20web/Code_image_oc1ata.svg");
  background-size: 500px;
  width: 500px;
  background-position-y: 65px;
  background-repeat: no-repeat;
}

.button-link {
  height: fit-content;
}

.landing-code-image {
  z-index: 1;
  left: -40px;
  top: -10px;
  width: 600px;
  position: absolute;
}

.landing-secondary-header {
  max-width: 500px;
  padding: 30px 0 40px 0;
}

.landing-secondary-section {
  padding-top: 50px;
  max-width: 600px;

  img {
    min-width: 100%;
    max-width: 100%;
  }
}

// Fonts

h1 {
  font-size: 52px;
  font-family: $headers-font;
  font-weight: 800;
  color: $primary-text;
}

h2 {
  font-size: 34px;
  font-family: $headers-font;
  font-weight: 800;
  color: $primary-text;
}

h3 {
  font-size: 30px;
  font-family: $headers-font;
  font-weight: 600;
  color: $primary-text;
}

h4 {
  font-size: 26px;
  font-family: $headers-font;
  font-weight: 600;
  color: $primary-text;
}

h5 {
  font-size: 16px;
  font-family: $headers-font;
  font-weight: 800;
  color: $primary-text;
}

h6 {
  font-size: 20px;
  font-family: $headers-font;
  font-weight: 500;
  color: darkgray;
}

.text-align-center {
  text-align: center;
}

p {
  font-family: $body-font;
  font-size: 16px;
  color: $primary-text;
}

// Services section

.services-landing-wrap {
  margin-top: 100px;
}

.services-index-wrap {
  padding-top: 30px;
}

.services-section {
  padding: 100px 0;
  background-color: #efeff8;
  background-size: 100%;
}

.services-section {
  select {
    display: none;
  }
}

.services-list {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  width: 520px;
  margin: 80px auto 40px auto;

  li {
    cursor: pointer;
  }
}

.services-render {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 80px auto 0 auto;
}

.services-description {
  width: 42%;

  a {
    text-decoration: none;
  }
}

.services-description-header {
  padding: 20px 0px;
}

.services-image {
  width: 42%;

  img {
    width: 100%;
  }
}

.services-tab--selected {
  color: $primary-color;
  text-decoration: underline $primary-color;
  text-underline-offset: 12px;
}

.services-description_indicator {
  color: $primary-color;
}

.services-description_link {
  color: $primary-color;
  padding-top: 20px;
}

// Packages section

.packages-section {
  margin: 0 auto;
  max-width: 1275px;
  padding: 80px 0;
}

.packages-header {
  padding-bottom: 80px;
}

.packages {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

// .package {
//   width: 300px;
//   border: solid 1px $primary-color;
//   .package-headers {
//     background-color: $primary-color-background;
//     border-bottom: solid 1px $primary-color;
//   }
//   .package-description {
//     background-color: $primary-color-light-background;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     padding-bottom: 20px;
//   }
//   h4 {
//     font-size: 24px;
//   }
//   transition: 0.2s;
// }

.package {
  transition: 0.2s;
}

.package:hover {
  box-shadow: 0px 12px 24px $box-shadow;
  transition: 0.2s;
}

.package-headers {
  margin: 0 auto;
  height: 140px;
  background-color: $light-gray;
  border-bottom: solid 1px gray;
  padding: 30px;
  text-align: center;

  h5 {
    margin-bottom: 0;
  }
}

.package-description {
  padding: 30px 20px;
  height: 280px;
}

.included-items {
  padding: 10px 0;
  margin-block-start: 0;
}

.included-item {
  display: flex;

  i {
    padding-top: 5px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 1480px) {
  .main-site-container {
    max-width: 1300px;
  }

  .landing-primary-section {
    max-width: 450px;
    background-size: 450px;
  }

  h1 {
    font-size: 48px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h2 {
    font-size: 32px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h4 {
    font-size: 24px;
    font-family: $headers-font;
    font-weight: 600;
    color: $primary-text;
  }
}

@media only screen and (max-width: 1400px) {
  .main-site-container {
    max-width: 1250px;
  }

  .landing-secondary-section {
    padding-top: 50px;
    max-width: 600px;
  }

  .landing-primary-section {
    max-width: 425px;
    background-size: 425px;
  }

  h1 {
    font-size: 44px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h2 {
    font-size: 30px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h4 {
    font-size: 22px;
    font-family: $headers-font;
    font-weight: 600;
    color: $primary-text;
  }

  .packages-section {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1300px) {
  .main-site-container {
    max-width: 1220px;
  }

  .landing-primary-section {
    max-width: 400px;
    background-size: 400px;
  }

  .landing-secondary-section {
    padding-top: 50px;
    max-width: 550px;
  }

  h1 {
    font-size: 42px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h2 {
    font-size: 28px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h4 {
    font-size: 20px;
    font-family: $headers-font;
    font-weight: 600;
    color: $primary-text;
  }

  .package {
    width: 290px;
  }
}

@media only screen and (max-width: 1270px) {
  .main-site-container {
    max-width: 1160px;
  }

  .landing-secondary-section {
    padding-top: 50px;
    max-width: 500px;
  }

  .package {
    width: 275px;
  }

  .package-description {
    height: 300px;
  }

  .included-items {
    margin-bottom: 0;
    padding: 5px 0;
  }
}

@media only screen and (max-width: 1200px) {
  .main-site-container {
    max-width: 1100px;
  }

  .package {
    width: 275px;
  }

  .package-description {
    height: 300px;
  }

  .included-items {
    margin-bottom: 0;
    padding: 5px 0;
  }

  .packages-section {
    width: 710px;
  }

  .packages {
    flex-wrap: wrap;
  }

  .package {
    width: 340px;
    margin-bottom: 30px;
  }

  .package-headers {
    height: 120px;
  }

  .package-description {
    height: 260px;
  }
}

@media only screen and (max-width: 1140px) {
  .main-site-container {
    max-width: 1020px;
  }

  .landing-primary-section {
    max-width: 380px;
    background-size: 380px;
  }

  h1 {
    font-size: 40px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h2 {
    font-size: 26px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h4 {
    font-size: 20px;
    font-family: $headers-font;
    font-weight: 600;
    color: $primary-text;
  }
}

@media only screen and (max-width: 1060px) {
  .main-site-container {
    max-width: 980px;
  }

  .landing-secondary-section {
    padding-top: 50px;
    max-width: 475px;
  }

  .services-list {
    width: 480px;
  }
}

@media only screen and (max-width: 1030px) {
  .main-site-container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 1010px) {
  .main-site-container {
    max-width: 920px;
  }

  .landing-primary-section {
    max-width: 350px;
    background-size: 350px;
  }

  .landing-secondary-section {
    width: 450px;

    img {
      min-width: 100%;
      max-width: 100%;
    }
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 960px) {
  .main-site-container {
    max-width: none;
    padding: 0 40px;
  }

  .landing-secondary-section {
    width: 400px;
  }

  .social-media-icons-landing {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .landing-section {
    flex-direction: column;
  }

  .landing-primary-section {
    margin: 0 auto;
  }

  .landing-secondary-section {
    margin: 0 auto;
  }

  .services-section-wrap {
    margin-top: 60px;
    padding-top: 60px;
  }
}

@media only screen and (max-width: 820px) {
  .services-image {
    width: 45%;
  }

  .services-description {
    width: 43%;
  }

  .packages-section {
    width: 100%;
  }

  .package {
    width: 48%;
  }
}

@media only screen and (max-width: 768px) {
  .services-list {
    display: none;
  }

  .services-section {
    select {
      display: block;
      margin: 40px auto;
      padding: 10px;
      width: 80%;
      border-color: lightgray;
      background-color: white;
    }
  }

  .services-render {
    flex-direction: column;
    margin: 0 auto;
  }

  .services-image {
    width: 80%;
    margin: 20px auto;
  }

  .services-description {
    width: 80%;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 700px) {
  .package {
    margin-bottom: 20px;
  }

  .package-headers {
    height: 140px;
  }

  .package-description {
    height: 300px;
  }
}

@media only screen and (max-width: 620px) {
  .package {
    width: 60%;
  }

  .packages {
    justify-content: space-around;
  }

  .package-description {
    height: 260px;
  }
}

@media only screen and (max-width: 600px) {
  .landing-section {
    padding-top: 125px;
  }

  .landing-secondary-section {
    display: none;
  }

  .services-section {
    select {
      width: 100%;
    }
  }

  .services-image {
    width: 100%;
  }

  .services-description {
    width: 100%;
  }

  .package {
    width: 65%;
  }
}

@media only screen and (max-width: 560px) {
  .main-site-container {
    padding: 0 20px;
  }

  .package {
    width: 75%;
  }

  .package-headers {
    height: 120px;
  }
}

@media only screen and (max-width: 524px) {
  .main-site-container {
    padding: 0 20px;
  }

  .package {
    width: 80%;
  }
}

@media only screen and (max-width: 448px) {
  .landing-primary-section {
    max-width: 340px;
    background-size: 340px;
  }

  .landing-secondary-section {
    width: 340px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  .packages-section {
    padding-top: 40px;
  }

  .packages-header {
    padding-bottom: 40px;
  }

  .package {
    width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  .landing-primary-section {
    max-width: 320px;
    background-size: 320px;
  }

  .landing-secondary-section {
    width: 320px;
  }

  h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 360px) {
  .landing-primary-section {
    max-width: 300px;
    background-size: 300px;
  }

  .landing-secondary-section {
    width: 300px;
  }

  h1 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 340px) {
  .landing-primary-section {
    max-width: 280px;
    background-size: 280px;
  }

  .landing-secondary-section {
    width: 280px;
  }

  h1 {
    font-size: 32px;
  }
}