// Specific CSS for your home-page
html,
body,
.overflow-wrap {
  max-width: 100%;
  overflow-x: hidden;
}

.main-site-container {
  max-width: 1400px;
  margin: 0 auto
}

.landing-section {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-media-icons-landing {
  margin: auto 0;
}

.social-media-icons {
  padding: 0;
  display: grid;
  grid-template-rows: 60px 60px 60px;
}

.social-media-icon {
  border: none;
  background: none;
  display: block;
  text-align: left;
}

.landing-primary-section {
  max-width: 500px;
  background-image: url("https://res.cloudinary.com/dfyhqslry/image/upload/v1673181527/code%20web/-_tynmfj.svg");
  background-size: 520px;
  width: 500px;
  background-position-x: -25px;
  background-repeat: no-repeat;
}

.button-link {
  height: fit-content;
}

.landing-code-image {
  z-index: 1;
  left: -40px;
  top: -10px;
  width: 600px;
  position: absolute;
}

.landing-secondary-header {
  max-width: 500px;
  padding: 30px 0 40px 0;
}

.landing-secondary-section {
  padding-top: 50px;

  img {
    width: 42vw;
    min-width: 420px;
    max-width: 650px;
  }
}

// Fonts

h1 {
  font-size: 52px;
  font-family: $headers-font;
  font-weight: 800;
  color: $primary-text;
}

h2 {
  font-size: 34px;
  font-family: $headers-font;
  font-weight: 800;
  color: $primary-text;
}

h4 {
  font-size: 26px;
  font-family: $headers-font;
  font-weight: 600;
  color: $primary-text;
}

.text-align-center {
  text-align: center;
}

@media only screen and (max-width:1480px) {
  .main-site-container {
    max-width: 1300px;
  }

  .landing-primary-section {
    max-width: 450px;
    background-size: 480px;
  }

  h1 {
    font-size: 48px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h2 {
    font-size: 32px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h4 {
    font-size: 24px;
    font-family: $headers-font;
    font-weight: 600;
    color: $primary-text;
  }
}

@media only screen and (max-width:1400px) {
  .main-site-container {
    max-width: 1250px;
  }

  .landing-primary-section {
    max-width: 425px;
    background-size: 450px;
  }

  h1 {
    font-size: 44px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h2 {
    font-size: 30px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h4 {
    font-size: 22px;
    font-family: $headers-font;
    font-weight: 600;
    color: $primary-text;
  }
}

@media only screen and (max-width:1300px) {
  .main-site-container {
    max-width: 1150px;
  }

  .landing-primary-section {
    max-width: 400px;
    background-size: 425px;
    background-position-x: -20px;
  }

  h1 {
    font-size: 42px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h2 {
    font-size: 28px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h4 {
    font-size: 20px;
    font-family: $headers-font;
    font-weight: 600;
    color: $primary-text;
  }
}

@media only screen and (max-width:1250px) {
  .main-site-container {
    max-width: 1100px;
  }
}

@media only screen and (max-width:1150px) {
  .main-site-container {
    max-width: 1000px;
  }

  .landing-primary-section {
    max-width: 380px;
    background-size: 405px;
  }

  h1 {
    font-size: 40px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h2 {
    font-size: 26px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h4 {
    font-size: 20px;
    font-family: $headers-font;
    font-weight: 600;
    color: $primary-text;
  }
}

@media only screen and (max-width:1050px) {
  .main-site-container {
    max-width: 940px;
  }
}

@media only screen and (max-width:1000px) {
  .main-site-container {
    max-width: 920px;
  }

  .landing-primary-section {
    max-width: 360px;
    background-size: 380px;
  }

  h1 {
    font-size: 38px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h2 {
    font-size: 26px;
    font-family: $headers-font;
    font-weight: 800;
    color: $primary-text;
  }

  h4 {
    font-size: 20px;
    font-family: $headers-font;
    font-weight: 600;
    color: $primary-text;
  }

}

@media only screen and (max-width:960px) {
  .main-site-container {
    max-width: none;
    padding: 0 40px;
  }

  .social-media-icons-landing {
    display: none;
  }
}

@media only screen and (max-width:872px) {
  .landing-section {
    flex-direction: column;
  }

  .landing-primary-section {
    margin: 0 auto
  }

  .landing-secondary-section {
    margin: 0 auto
  }
}

@media only screen and (max-width:524px) {
  .main-site-container {
    padding: 0 20px;
  }
}