       

<nav>
  <div class="nav-content">
    <div class="nav-logo">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dfyhqslry/image/upload/v1673690849/code%20web/Logo_osldad.svg" %>
    <% end %>
    </div>
    <div class="nav-elements">
      <ul class="nav-links">
        <li><a href="#about" class="nav-link nav-font">Servicios</a></li>
        <li>
          <a href="#portfolio" class="nav-link nav-font">Precios</a>
        </li>
        <li>
          <a href="#contact" class="nav-link nav-font">Blog</a>
        </li>
        <li>
          <a href="#contact" class="nav-link nav-font">Contacto</a>
        </li>
        <li>
          <a href="#contact" class="button-link">
            <button class="nav-main-button">Pedir presupuesto</button>
          </a>
            <%# <span class="nav-main-button" data-glf-cuid="3c4b7e30-f508-4bd9-a4b8-03d192888b94" data-glf-ruid="6004531b-bfbc-403c-b28f-39a81af414c6" > Hacer Pedido </span>
            <script src="https://www.fbgcdn.com/embedder/js/ewm2.js" defer async ></script> %>
        </li>
      </ul>
      <div class="burger-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
  </div>
</nav>
   
       
     