   <!-- --------------NAVBAR----------------- -->
        <nav>
          <div class="nav-content">
            <div class="nav-logo">
              <a href="https://alejandroudaquiola.dev/">
                <img
                  id="logo"
                  src="https://res.cloudinary.com/dqstmox0s/image/upload/v1608285913/portfolio/components/Component_96_2_oxcesh.svg"
                  alt="logo"
                />
              </a>
            </div>
            <div class="nav-elements">
              <ul class="nav-links">
                <li><a href="#about" class="nav-link nav-font">About</a></li>
                <li>
                  <a href="#portfolio" class="nav-link nav-font">Portfolio</a>
                </li>
                <li>
                  <a href="#contact" class="nav-link nav-font">Contact</a>
                </li>
              </ul>
              <div class="burger-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
              </div>
            </div>
          </div>
        </nav>
        <!-- --------------NAVBAR----------------- -->