            <ul class="social-media-icons">
                <li>
                    <a class="social-media-icon" style="padding-left:5px" href="#">
                       <svg xmlns="http://www.w3.org/2000/svg" width="14.546" height="28" viewBox="0 0 14.546 28" fill="#3937c8">
                         <path id="facebook" d="M18.524,6.648h2.632V2.2A36.554,36.554,0,0,0,17.32,2c-3.808,0-6.412,2.324-6.412,6.58v3.668H6.61v4.984h4.3V30H16.06V17.232h4.284l.644-4.984H16.06V9.07C16.06,7.6,16.452,6.648,18.524,6.648Z" transform="translate(-6.61 -2)" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="social-media-icon" href="#">
                        <svg id="instagram_1_" data-name="instagram (1)" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="#3937c8">
                            <path id="Path_74" data-name="Path 74" d="M19.659,0H8.341A8.351,8.351,0,0,0,0,8.341V19.659A8.351,8.351,0,0,0,8.341,28H19.659A8.351,8.351,0,0,0,28,19.659V8.341A8.351,8.351,0,0,0,19.659,0Zm5.525,19.659a5.525,5.525,0,0,1-5.525,5.525H8.341a5.525,5.525,0,0,1-5.525-5.525V8.341A5.525,5.525,0,0,1,8.341,2.817H19.659a5.525,5.525,0,0,1,5.525,5.525V19.659Z"/>
                            <path id="Path_75" data-name="Path 75" d="M141.005,133a8.005,8.005,0,1,0,8.006,8.005A8.014,8.014,0,0,0,141.005,133Zm0,12.9a4.892,4.892,0,1,1,4.892-4.892A4.892,4.892,0,0,1,141.005,145.9Z" transform="translate(-127.005 -127.005)" />
                            <ellipse id="Ellipse_5" data-name="Ellipse 5" cx="1.539" cy="1.539" rx="1.539" ry="1.539" transform="translate(19.833 5.158)" />
                        </svg>

                    </a>
                <li>
                    <a class="social-media-icon" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20.462" viewBox="0 0 28 20.462" fill="#3937c8">
                            <path id="icons8-gmail" d="M6.231,7.031a3.159,3.159,0,0,0-.942.156l3.138,2H25.573l3.138-2a3.158,3.158,0,0,0-.942-.156ZM4.2,7.772A3.207,3.207,0,0,0,3,10.262v14a3.237,3.237,0,0,0,3.231,3.231H27.769A3.237,3.237,0,0,0,31,24.262v-14a3.207,3.207,0,0,0-1.2-2.49L17,15.916Zm2.032,5.09L17,19.719l10.769-6.857V25.339H6.231Z" transform="translate(-3 -7.031)" />
                        </svg>
                    </a>
                </li>
            </ul>