<%# Landing section %>
<div class="main-site-container">
    <div class="landing-section">
        <div class="social-media-icons-landing">
            <ul class="social-media-icons">
                <li>
                    <a class="social-media-icon" style="padding-left:5px" href="#">
                        <img src="https://res.cloudinary.com/dfyhqslry/image/upload/v1673181520/code%20web/facebook_wyjaje.svg"
                            alt="Icono de facebook">
                    </a>
                </li>
                <li>
                    <a class="social-media-icon" href="#">
                        <img src="https://res.cloudinary.com/dfyhqslry/image/upload/v1673181520/code%20web/instagram_1_tkziaz.svg"
                            alt="Icono de Instagram">
                    </a>
                <li>
                    <a class="social-media-icon" href="#">
                        <img src="https://res.cloudinary.com/dfyhqslry/image/upload/v1673181520/code%20web/icons8-gmail_d4sc8b.svg"
                            alt="Icono de Gmail">
                    </a>
                </li>
            </ul>
        </div>
        <%# Primary section %>
        <div class="landing-primary-section">
            <h1 class="landing-main-header">Diseño web y soluciones digitales para negocios y
                emprendimientos
            </h1>
            <h4 class="landing-secondary-header">Ofrecemos diseño de calidad al alcance de tu negocio.</h4>
            <a href="#contact" class="button-link">
                <button class="main-button landing-main-button">Pedir presupuesto</button>
            </a>
        </div>

        <%# Secondary section %>
        <div class="landing-secondary-section">
            <img src="https://res.cloudinary.com/dfyhqslry/image/upload/v1673181060/code%20web/Website_syju0l.svg"
                alt="Imagen de desarrollo web">
        </div>
    </div>
</div>

<%# Services section %>
<div class="services-section">
    <h2 class="text-align-center">Elige la solución que mejor se adapte a tu negocio</h2>
</div>