<%# Landing section %>
<div class="main-site-container">
    <div class="landing-section">
        <div class="social-media-icons-landing">
            <%= render "shared/social_media_icons" %>
        </div>
        <%# Primary section %>
        <div class="landing-primary-section">
            <h1 class="landing-main-header">Diseño web y soluciones digitales para negocios y
                emprendimientos
            </h1>
            <h4 class="landing-secondary-header">Ofrecemos diseño de calidad al alcance de tu negocio.</h4>
            <a href="#contact" class="button-link">
                <button class="main-button landing-main-button">Pedir presupuesto</button>
            </a>
        </div>

        <%# Secondary section %>
        <div class="landing-secondary-section">
            <img src="https://res.cloudinary.com/dfyhqslry/image/upload/v1673181060/code%20web/Website_syju0l.svg"
                alt="Imagen de desarrollo web">
        </div>
    </div>
</div>

<%# Services section %>
<div class="services-section">
    <h2 class="text-align-center">Elige la solución que mejor se adapte a tu negocio</h2>
    <div class="main-site-container">
        <ul class="services-list">
            <li>
                <h5 class="services-list_selected">RESTAURANTES</h5>
            </li>
            <li>
                <h5>WEB CORPORATIVA</h5>
            </li>
            <li>
                <h5>TIENDA ONLINE</h5>
            </li>
        </ul>
        
        <select> 
            <option value="" selected="selected">Restaurantes</option>
            <option value="/">Web corporativa</option> 
            <option value="/collections/all">Tienda online</option> 
        </select> 

        <div class="services-render">
          <div class="services-description">
            <h5 class="services-description_indicator">RESTAURANTES</h5>
            <h3 class="services-description-header">Mejora tu visibilidad en la web</h3>
            <h6>Give consumers seamless access to your product catalog via AI-powered search, discovery and recommendations, while increasing your online revenue.</h6>
            <a href="#">
                <h5 class="services-description_link">SABER MÁS ></h5>
            </a>
          </div>
          <div class="services-image">
            <img src="https://res.cloudinary.com/dfyhqslry/image/upload/v1674067481/code%20web/Group_33_aorcii.svg" alt="Laptop navigating restaurant website image">
          </div>
        </div>
    </div>
</div>