<%= render "shared/sections/landing-section" %>
<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
<div class="services-landing-wrap">
    <%= render "shared/sections/services-section" %>
</div>
<div class="footer-landing-wrap">
    <%= render "shared/sections/packages-section" %>
</div>