<%= render "shared/sections/landing-section" %>
<div class="services-landing-wrap">
    <%= render "shared/sections/services-section" %>
</div>
<div class="footer-landing-wrap">
    <%= render "shared/sections/packages-section" %>
</div>