
<%= turbo_frame_tag :cookie_consent do %> 

    <div class="cookies-footer">
        <div class="card">
            <div class="card-body row">
                <div class="col">
                    <p class="text-center">
                        <p>Este sitio web utiliza cookies propias y de terceros para obtener estadísticas sobre los hábitos de navegación
                        del usuario, mejorar su experiencia y permitirle compartir contenidos en redes sociales. Usted puede aceptar

                        o rechazar las cookies, así como personalizar cuáles quiere deshabilitar.</p>
                        <p>Puede encontrar toda la información de nuestra <%= link_to "Políticas de cookies", policy_path("cookies")%></p>
                    </p>
                </div>
                <div class="row">
                    <div class="col cookies-btns">
                        <button type="button" class="btn btn-secondary cookies-btn-secondary" data-toggle="modal" data-target="#exampleModal">
                        Más opciones
                        </button>
                        <button type="button" class="btn btn-secondary cookies-btn-secondary" data-toggle="modal" data-target="#exampleModal">
                        Rechazar
                        </button>
                        <button type="button" class="btn btn-primary cookies-btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Aceptar
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Aviso de cookies</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        <p>Este sitio web utiliza cookies propias y de terceros para obtener estadísticas sobre los hábitos de navegación
del usuario, mejorar su experiencia y permitirle compartir contenidos en redes sociales. Usted puede aceptar

o rechazar las cookies, así como personalizar cuáles quiere deshabilitar.</p>
<p>Puede encontrar toda la información de nuestra <%= link_to "Política de cookies", policy_path("cookies")%></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Rechazar</button>
            <button type="button" class="btn btn-primary">Aceptar</button>
        </div>
        </div>
    </div>
    </div>

<% end %>
