a {
  text-decoration: none;
}

.main-button {
  border: none;
  background-color: $primary-color;
  color: $white;
  padding: 16px 56px;
  box-shadow: 0px 3px 4px $box-shadow;
  font-weight: 600;
  font-family: $headers-font;
  border-radius: 4px;
  font-size: 16px;
  transition: 0.2s;
}

.main-button:hover {
  background-color: $primary-color-hover;
  transition: 0.2s;
}

.nav-main-button {
  border: none;
  background-color: $primary-color;
  color: $white;
  padding: 14px 44px;
  box-shadow: 0px 3px 4px $box-shadow;
  font-weight: 600;
  font-family: $headers-font;
  border-radius: 4px;
  font-size: 16px;
  transition: 0.2s;
}

.nav-main-button:hover {
  background-color: $primary-color-hover;
  transition: 0.2s;
}

.know-more-button {
  display: block;
  margin: 0 auto;
  padding: 5px 12px;
  border: solid 1px lightgray;
  border-radius: 4px;
  font-family: $headers-font;
  background-color: $white;
  font-size: 14px;
  font-weight: 600;
}

.active-filter {
  background-color: $primary-color;
  color: $white;
}

@media only screen and (max-width: 1010px) {
  .main-button {
    width: 100%;
  }
}