.policy-content {
  margin-bottom: 50px;
  h4 {
    font-size: 23px;
    padding-bottom: 10px;
  }
}

.cookies-footer {
  position: fixed;
  bottom: 40px;
  width: 50%;
  margin-left: 25%;
}

.cookies-btn-primary {
  width: 140px;
  color: white;
  background-color: $primary-color;
  font-weight: 500;
  margin-right: 10px;
}

.cookies-btn-primary:hover {
  color: white;
}

.cookies-btn-secondary {
  width: 140px;
  color: gray;
  background-color: $white;
}

@media only screen and (max-width: 1800px) {
  .cookies-footer {
    width: 100%;
    margin-left: 0;
    bottom: 0px;
  }
}

@media only screen and (min-width: 521px) {
  .cookies-btns {
    display: flex;
    text-align: right;
    align-items: right;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 520px) {
  .cookies-btns {
    text-align: center;
  }

  .cookies-btn-primary {
    width: 80%;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .cookies-btn-secondary {
    width: 80%;
  }
}

@media only screen and (max-width: 420px) {
  .cookies-btn-primary {
    width: 100%;
  }

  .cookies-btn-secondary {
    width: 100%;
  }
}
