@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600&family=Roboto:wght@400;500;700&display=swap");

h1 {
  font-size: 52px !important;
  font-weight: bold;
}

h2 {
  font-size: 40px !important;
  font-weight: 600 !important;
}

h4 {
  font-size: 20px !important;
  font-weight: 500 !important;
}

h5 {
  font-size: 24px !important;
  font-weight: 500 !important;
}

h6 {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.nav-font {
  font-family: "Poppins", "sans-serif";
  font-size: 14px;
  font-weight: 500;
  color: #fbfbfb;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  transition: 0.5s;
}

.nav-font a:hover {
  color: #64ffda !important;
}

.nav-font:hover {
  color: #64ffda !important;
  transition: 0.5s;
}

.footer-p-font {
  color: grey;
  font-family: "Poppins", "sans-serif";
  font-size: 14lpx;
  font-weight: 400;
}

.footer-h-font {
  color: black;
  font-family: "Poppins", "sans-serif";
  font-size: 14px !important;
  font-weight: 600 !important;
}

.footer-a-font {
  color: black;
  font-family: "Poppins", "sans-serif";
  font-size: 13px;
  font-weight: 400 !important;
}

@media (max-width: 768px) {
  h1 {
    font-size: 38px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  p {
    font-size: 15px !important;
  }
}

@media (max-width: 374px) {
  h1 {
    font-size: 34px !important;
  }

  h4 {
    font-size: 16px !important;
  }
}

@media (max-width: 325px) {
  h1 {
    font-size: 32px !important;
  }
}

body {
  max-width: 100vw !important;
  overflow-x: hidden !important;
  margin: 0px;
}

html {
  overflow-x: hidden !important;
}

#wrapper {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

ul li {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none !important;
}

.main-landing {
  height: 100vh;
  background-color: rgba(10, 25, 47, 0.85);
}

.main-container {
  max-width: 1366px;
  margin: 0 auto;
}

.flex-landing {
  display: flex;
}

::placeholder {
  color: #95a4cc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.btn-box {
  margin-top: 50px;
}

.main-btn {
  border: 2px solid #64ffda;
  color: #64ffda;
  padding: 14px 85px;
  border-radius: 5px;
  font-family: "Open Sans", "sans-serif";
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
}

.main-btn:hover {
  background-color: rgba(186, 197, 225, 0.1);
  transition: 0.5s;
}

.secondary-btn {
  border: none;
  background-color: rgba(10, 25, 47, 0.85);
  color: #64ffda;
  padding: 16px 100px;
  border-radius: 5px;
  font-family: "Open Sans", "sans-serif";
  font-size: 18px;
  font-weight: 600;
  margin-top: 50px;
  transition: 0.5s;
}

.secondary-btn:hover {
  background-color: rgba(10, 25, 47, 0.74);
  transition: 0.5s;
  cursor: pointer;
}

nav {
  height: 84px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 40px 0 40px;
}

.nav-content {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 50%;
}

.nav-elements {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  width: 80%;
  padding-right: 10%;
  display: flex;
  justify-content: space-around;
}

.burger-menu {
  display: none;
}

.burger-menu {
  cursor: pointer;
}

.burger-menu div {
  width: 23px;
  height: 2px;
  background-color: #64ffda;
  margin: 5px;
  margin-right: 0px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  body {
    max-width: 100vw !important;
    overflow-x: hidden !important;
    margin: 0px;
  }

  html {
    overflow-x: hidden !important;
  }

  #wrapper {
    position: absolute;
    width: 100%;
    overflow-x: hidden !important;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: calc(100vh - 84px);
    top: 84px;
    align-items: top;
    margin-block-start: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #0a192f;
    align-items: center;
    width: 100vw !important;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-elements {
    width: fit-content;
  }

  .burger-menu {
    display: block;
  }

  .nav-font {
    font-size: 18px;
  }
}

@media (max-width: 524px) {
  nav {
    padding: 10px;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
}

.name-block {
  margin: 0 auto;
  text-align: center;
  display: block;
  height: 250px;
  padding: calc(((100vh - 100px) - 250px) / 2) 0px !important;
}

.name-block h1 {
  color: #fbfbfb;
  font-family: "Lato", "sans-serif";
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.name-block h4 {
  color: #fbfbfb;
  font-family: "Lato", "sans-serif";
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-top: 10px;
}

.name-block p {
  color: #bac5e1;
  font-family: "Open Sans", "sans-serif";
}

.name-block a {
  color: #64ffda;
}

.separate {
  border-bottom: 1px solid;
  border-color: #bac5e1;
  padding-top: 20px;
  width: 250px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .name-block {
    padding: calc(((100vh - 100px) - 250px) / 2) 10px !important;
  }

  .icons-position {
    display: none;
  }

  .btn-box {
    margin-top: 70px;
  }
}

.icons-position {
  width: 25px;
}

.icons-block {
  color: #bac5e1;
  font-size: 25px;
  height: 400px;
  padding-top: calc(100vh - 488px);
  padding-left: calc(50px + (58.64px / 2 - 25px / 2));
}

.icons-block a,
.icons-block a:active,
.icons-block a:focus {
  color: #bac5e1;
}

.icons-block a:hover {
  color: #fbfbfb;
}

.socialmedia-icon {
  padding-bottom: 25px;
}

.vertical-line {
  border-color: #bac5e1;
  border-left: solid 1px;
  height: 111px;
  margin-top: 25px;
}

.line-position {
  padding-left: calc(21.44px / 2);
}

@media (max-width: 1376px) {
  .icons-block {
    padding-left: calc(40px + (58.64px / 2 - 25px / 2));
  }
}

@media (max-width: 796px) {
  .icons-block {
    display: none;
  }
}

.ilustration {
  margin: 0 auto;
  margin-top: 80px !important;
  padding-top: 20px;
  text-align: center;
}

.ilustration img {
  width: 700px;
}

.description {
  background-color: rgba(10, 25, 47, 0.85);
  padding: 50px 0;
  margin-top: -5px;
}

.description h1 {
  color: #fbfbfb;
  font-family: "Lato", "sans-serif";
  font-size: 40px !important;
}

.description p {
  color: #bac5e1;
  font-family: "Open Sans", "sans-serif";
}

.description-content {
  width: 660px;
  margin: 0 auto;
}

@media (max-width: 1324px) {
  .ilustration img {
    width: 650px;
  }
}

@media (max-width: 768px) {
  .ilustration {
    padding-top: 70px;
  }

  .ilustration img {
    width: 500px;
  }
}

@media (max-width: 716px) {
  .description-content {
    width: 560px;
  }

  .description {
    padding: 30px 10px;
  }

  .description h1 {
    font-size: 32px !important;
  }

  .description p {
    font-size: 16px !important;
  }
}

@media (max-width: 608px) {
  .description-content {
    width: 100%;
  }

  .description {
    padding: 30px 10px;
  }
}

@media (max-width: 375px) {
  .ilustration {
    padding-top: 50px;
  }

  .ilustration img {
    width: 342px;
  }

  .description-content {
    width: 100%;
  }

  .description {
    padding: 30px 10px;
  }

  .description h1 {
    font-size: 28px !important;
  }

  .description p {
    font-size: 15px !important;
  }
}

@media (max-width: 340px) {
  .ilustration {
    padding-top: 50px;
  }

  .ilustration img {
    width: 300px;
  }
}

.skills-card-section {
  padding: 0px 40px;
}

.skills-card {
  margin-top: 70px !important;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 10px rgba(19, 63, 167, 0.16);
  margin: 0 auto;
  width: 70%;
  height: 600px;
  margin-bottom: 50px !important;
}

.single-card {
  width: 50%;
  padding: 0px 50px;
}

.single-card .skills-ilustration {
  padding-top: 40px;
  text-align: center;
}

.single-card h4 {
  font-family: "Lato", "sans-serif";
  font-weight: 600 !important;
  font-size: 22px !important;
  color: rgba(10, 25, 47, 0.85);
}

.single-card h5 {
  color: #133fa7;
  font-size: 19px !important;
  font-weight: 600 !important;
  font-family: "Lato", "sans-serif";
}

.single-card p {
  font-family: "Open Sans", "sans-serif";
  margin-block-start: 0;
  margin-block-end: 0;
}

.skills-separate {
  height: 100%;
  border-left: solid 1px rgba(70, 70, 70, 0.1);
}

.skills-content {
  margin: 0 auto;
  text-align: center;
}

.second-part {
  padding-top: 35px;
}

.third-part {
  padding-top: 30px;
}

@media (max-width: 960px) {
  .skills-card {
    display: block;
    width: fit-content;
    padding-bottom: 50px;
    height: fit-content;
  }

  .single-card {
    width: 100%;
    padding: 0px !important;
  }

  .skills-separate {
    border-left: none;
    height: 0;
    border-top: solid 1px rgba(70, 70, 70, 0.1);
    width: 100%;
    margin-top: 40px !important;
  }

  .skills-content {
    padding: 0 20px;
  }
}

@media (max-width: 710px) {
  .skills-card {
    display: block;
    width: 100%;
    padding-bottom: 50px;
    height: fit-content;
    box-shadow: none;
    margin-top: 20px !important;
  }

  .single-card {
    width: 100%;
    padding: 0px !important;
  }

  .skills-separate {
    border-left: none;
    height: 0;
    border-top: solid 1px rgba(70, 70, 70, 0.1);
    width: 100%;
    margin-top: 40px !important;
  }

  .skills-content {
    padding: 0 20px;
  }
}

@media (max-width: 524px) {
  .skills-card-section {
    padding: 0 !important;
  }
}

.portfolio-section {
  background-color: rgba(10, 25, 47, 0.85);
  padding: 50px 0;
}

.portfolio-section .portfolio-title {
  text-align: center;
  padding-bottom: 30px;
}

.portfolio-section h1 {
  color: #fbfbfb;
  font-family: "Lato", "sans-serif";
  font-size: 38px !important;
  margin-block-start: 0;
}

.portfolio-section h4 {
  display: inline-block;
  color: #fbfbfb;
  font-family: "Lato", "sans-serif";
  font-size: 24px !important;
  font-weight: 600 !important;
  padding-left: 7px;
  margin-block-end: 10px;
  margin-block-start: 0;
}

.portfolio-section h4:hover {
  color: #64ffda !important;
}

.portfolio-section p {
  color: #fbfbfb;
  font-family: "Open Sans", "sans-serif";
  padding-left: 7px;
}

.portfolio-section a,
.portfolio-section a:focus {
  color: #fbfbfb;
}

.portfolio-section a:hover {
  color: #64ffda !important;
}

.portfolio-content {
  margin: 0 auto;
  width: 90%;
  padding: 0 calc(5% - 7px) 0 calc(5% + 7px);
}

.portfolio-separate {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  width: 70%;
  margin: 70px auto;
}

.portfolio-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.mobile-size {
  max-width: 282px !important;
}

@media (min-width: 1280px) {
  .takumi-web img {
    width: 856px;
    height: 489px;
  }

  .takumi-mobile img {
    height: 465px;
  }
}

@media (max-width: 1280px) {
  .portfolio-images img {
    width: 90%;
  }

  .mobile-size {
    width: 80% !important;
  }
}

@media (max-width: 768px) {
  .portfolio-images img {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .portfolio-section h1 {
    font-size: 28px !important;
  }

  .portfolio-section p {
    padding-left: 0px;
  }

  .portfolio-section h4 {
    padding-left: 0px;
  }

  .portfolio-images img {
    width: 94%;
  }

  .mobile-size {
    width: 84% !important;
  }

  .portfolio-content {
    margin: 0 auto;
    width: 90%;
    padding: 0;
  }
}

.contact-section {
  margin-top: 45px;
  padding-top: 2px;
  display: block;
  text-align: center;
}

.contact-section form {
  display: inline-block;
  margin: 0 auto;
}

.contact-section h2 {
  font-size: 34px !important;
  margin-bottom: 40px;
  font-family: "Lato", "sans-serif";
  font-weight: 600;
  color: rgba(10, 25, 47, 0.85);
}

.name-mail {
  display: flex;
}

.field-input input {
  width: 300px;
  height: 40px;
  padding-left: 10px;
  border: solid 1px rgba(10, 25, 47, 0.6);
}

.field-input input:focus {
  outline: none !important;
  border: solid 1px rgba(10, 25, 47, 0.84);
  box-shadow: 0 0 10px rgba(10, 25, 47, 0.1);
}

.field-margin {
  margin-right: 10px;
}

.field-message textarea {
  border: solid 1px rgba(10, 25, 47, 0.6);
  margin-top: 25px;
  width: 620px;
  height: 250px !important;
  padding: 10px;
}

.field-message textarea:focus {
  outline: none !important;
  border: solid 1px rgba(10, 25, 47, 0.84);
  box-shadow: 0 0 10px rgba(10, 25, 47, 0.1);
}

@media (max-width: 700px) {
  .contact-section {
    margin-top: 30px;
  }

  .field-input input {
    width: 280px;
  }

  .field-message textarea {
    margin-top: 20px;
    width: 580px;
  }

  .secondary-btn {
    margin-top: 40px;
  }
}

@media (max-width: 650px) {
  .contact-section {
    margin-top: 25px;
  }

  .field-input input {
    width: 240px;
  }

  .field-message textarea {
    margin-top: 15px;
    width: 500px;
  }

  .secondary-btn {
    margin-top: 30px;
  }
}

@media (max-width: 560px) {
  .contact-section {
    margin-top: 20px;
  }

  .field-input input {
    width: 220px;
  }

  .field-message textarea {
    margin-top: 10px;
    width: 460px;
  }

  .secondary-btn {
    margin-top: 20px;
  }
}

@media (max-width: 520px) {
  .name-mail {
    display: block;
  }

  .field-margin {
    margin-right: 0px !important;
    margin-bottom: 12px !important;
  }

  .field-input input {
    width: 80vw;
    padding-right: 10px !important;
  }

  .field-message textarea {
    margin-top: 12px;
    width: 80vw;
  }

  .secondary-btn {
    margin-top: 12px;
    width: calc(80vw + 22px) !important;
  }
}

.footer {
  background-color: rgba(10, 25, 47, 0.85);
  margin-top: 40px;
  text-align: center;
}

.footer-icons {
  color: #bac5e1;
  font-size: 34px;
  padding: 50px 0 30px 0;
}

.footer-icons a,
.footer-icons a:active,
.footer-icons a:focus {
  color: #bac5e1;
}

.footer-icons a:hover {
  color: #fbfbfb;
}

.footer-icon {
  padding: 0 20px;
}

.copyright {
  padding-bottom: 20px;
}

.copyright p {
  color: #bac5e1;
  font-family: "Open Sans", "sans-serif";
  font-size: 14px;
}

@media (max-width: 500px) {
  .footer-icons {
    font-size: 32px;
    padding-bottom: 10px;
    padding-top: 30px !important;
  }

  .footer-icon {
    padding: 0 15px;
  }

  .copyright {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .copyright p {
    margin-block-end: 0;
  }
}

@media (max-width: 340px) {
  .footer-icons {
    font-size: 30px;
  }

  .footer-icon {
    padding: 0 10px;
  }
}

body {
  background-color: rgba(10, 25, 47, 0.85);
}

h1 {
  color: red;
}

.navbar-degustar {
  align-items: center;
  padding: 10px 40px;
  background-color: #fbfbfb;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  width: 100vw;
  height: 70px;
}

.nav-content {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
}

.navbar-degustar .navbar-collapse {
  flex-grow: 0;
}

.nav-logo {
  width: 50%;
}

.nav-elements {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  width: 80%;
  padding-right: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-icons {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1168px) {
  .nav-logo {
    width: 48%;
  }

  .nav-elements {
    width: 52%;
  }

  .nav-links {
    width: 80%;
  }

  .nav-icons {
    width: 20%;
  }
}

@media (max-width: 968px) {
  .nav-logo {
    width: 45%;
  }

  .nav-elements {
    width: 55%;
  }

  .nav-links {
    width: 75%;
  }

  .nav-icons {
    width: 25%;
  }
}

@media (min-width: 769px) {
  .navbar-toggle-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-degustar {
    padding: 10px;
  }

  #user-icon {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .nav-elements {
    width: 25%;
  }

  .nav-icons {
    width: 100%;
    padding-left: 45%;
  }

  .navbar-toggle-menu {
    width: 25%;
    display: flex;
    align-items: center;
  }

  .nav-content {
    display: flex;
    justify-content: space-between;
  }

  .nav-logo {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .nav-icons {
    padding-left: 40%;
  }
}