<%# Landing section %>
<div class="main-site-container">
    <div class="landing-section">
        <div class="social-media-icons-landing">
            <%= render "shared/components/social_media_icons" %>
        </div>
        <%# Primary section %>
        <div class="landing-primary-section">
            <h1 class="landing-main-header">Diseño web y soluciones digitales para negocios y
                emprendimientos
            </h1>
            <h4 class="landing-secondary-header">Ofrecemos diseño de calidad al alcance de tu negocio.</h4>
            <a href="contacto" class="button-link" data-turbo="false">
                <button class="nav-main-button">Pedir presupuesto</button>
            </a>  
        </div>

        <%# Secondary section %>
        <div class="landing-secondary-section">
            <img src="https://res.cloudinary.com/dfyhqslry/image/upload/v1673181060/code%20web/Website_syju0l.svg"
                alt="Imagen de desarrollo web">
        </div>
    </div>
</div>