<%# Packages section %>

<div class="main-site-container">
  <div class="packages-section">
    <h2 class="text-align-center packages-header">Nuestros paquetes</h2>
    <div class="packages">
       <% @packages.each do |package|  %>
        <div class="package">
          <div class="package-headers">
            <h4><%=package.name%></h4>
            <h5>Desde <%=package.price%> <%=package.currency%></h5>
          </div>
          <div class="package-description">
            <ul class="included-items">
              <%package.items.each do |item|%>
                <li class="included-item">
                  <i class="fa fa-check" style="color:green"></i>
                  <p><%=item%></p>
                </li>
              <%end%>
            </ul>
            <a href="contacto" class="button-link" data-turbo="false" >
              <button class="know-more-button">Saber más</button>
            </a>
          </div>
        </div>
      <%end %>
    </div>
  </div>
</div>
