  <div class="clients pt-16">
    <p class="font-normal text-xs flex items-center text-body-color mb-2">
      I'm specialized in
      <span class="w-8 h-[1px] bg-body-color inline-block ml-2"></span>
    </p>
    <div class="flex items-center">
        <div class="w-full py-3 mr-6">
        <%= image_tag('brands/Algolia-logo-blue.svg', style:"height:45px;") %>
      </div> 
      <div class="w-full py-3 mr-6">
        <%= image_tag('brands/shopify_logo_whitebg.svg', style:"height:45px; padding-bottom:3px") %>
      </div>
      <div class="w-full py-3 mr-6">
        <%= image_tag('brands/Ruby_On_Rails_Logo.svg', style:"height:50px; padding-bottom:8px;") %>
      </div>
    </div>
  </div>