<div class="services-description">
    <h5 class="services-description_indicator">RESTAURANTES</h5>
    <h3 class="services-description-header">Mejora tu visibilidad en la web</h3>
    <h6>Give consumers seamless access to your product catalog via AI-powered search, discovery and recommendations, while increasing your online revenue.</h6>
    <a href="#">
        <h5 class="services-description_link">SABER MÃS ></h5>
    </a>
    </div>
    <div class="services-image">
    <img src="https://res.cloudinary.com/dfyhqslry/image/upload/v1674067481/code%20web/Group_33_aorcii.svg" alt="Laptop navigating restaurant website image">
</div>