            <ul class="social-media-icons">
                <li>
                    <a class="social-media-icon" target="_blank" href="https://www.facebook.com/profile.php?id=100089590419239">
                       <i class="fa-brands fa-facebook fa-2xl"></i>
                    </a>
                </li>
                <li>
                    <a class="social-media-icon" href="https://www.instagram.com/code_web_ok/" target="_blank">
                        <i class="fa-brands fa-instagram fa-2xl"></i>
                    </a>
                <li>
                    <a class="social-media-icon" href="https://twitter.com/codeweb_ok">
                        <i class="fa-brands fa-twitter fa-2xl"></i>
                    </a>
                    
                </li>
            </ul>