
<div class="main-site-container" style="padding-top:120px">
    <h2 style="text-align: center; margin-bottom:40px;"><%= @policy.title %></h2>

    <% if @policy.url_handle == "aviso-legal" %>
        <%= render "policies/aviso_legal" %>
     <% end %>
    <% if @policy.url_handle == "privacidad" %>
        <%= render "policies/politicas_privacidad" %>
     <% end %>
    <% if @policy.url_handle == "cookies" %>
        <%= render "policies/politicas_cookies" %>
     <% end %>
</div>